# Git에 올리지 않을 파일 또는 디렉토리 목록
# 인증서 디렉토리 전체를 무시
certs/
# 특정 인증서 파일을 무시 (만약 디렉토리를 통째로 무시하지 않는다면)
# *.pem
# *.crt
# *.key

# Python 가상 환경 디렉토리 무시
venv/
venv_ota/

# 캐시 파일 무시
__pycache__/
*.pyc

# 다운로드 및 업데이트 폴더 무시
OTA_download/
OTA_update_file/

# SHA 기록 파일 무시
downloaded_sha.txt